
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mis Curso en Vue.js | Platzi</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
<div id="app">
    <h1>
      Mis Cursos de Platzi💚
    </h1>
      <p>
        <input type="text" placeholder="Titulo del curso" v-model="courseName"/>
      </p>
      <p>
        <input type="number" placeholder="Horas" v-model="courseHours"/>
      </p>
      <p>
        <button v-on:click="addCourse">Guardar Curso</button>
      </p>
    </fieldset>
    <div>
      <h3>Lista de Cursos</h3>
      <p class="red" v-show="showAlert">Aun no has realizado cursos</p>
      <p class="red" v-show="showCourseReapeat">Estas ingresando un curso repetido</p>
      <p class="red" v-show="showNameEmpty">No estas ingresando un nombre</p>
      <p class="red" v-show="showHoursMinus">Estas ingresando horas negativas</p>
      <div>
        <ol>
          <!-- Lista de cursos -->
          <ul>
            <li 
            v-for="c in courses">
            Curso {{c.name}}, horas {{c.hours}}
          </li>
          </ul>
        </ol>
        <hr/>
        <p>
          Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
          <b>#NuncaParesDeAprender 💚</b>
        </p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>